<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>giovanni.hardcover</string>
	<key>category</key>
	<string>Productivity</string>
	<key>connections</key>
	<dict>
		<key>003F4001-E0D8-40F3-AF9E-0F0680F14ABA</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>3FCCB79E-B876-42C0-AA07-E2B1F0FD4AB3</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>07DB2E5D-3B90-457C-95B6-B779787C215A</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>800E53AA-56EB-45FF-AB3E-4D858F3F25E2</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>0FC5D7DE-2FA5-42FB-8859-7BDDE5D1FD7A</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>DD59C03A-038C-4B9A-90D3-7C39A103D7FD</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>33576834-74A3-4898-A328-D7FAFFCACA63</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>59A5A739-6703-4ABA-BF68-A44CED709FCC</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>4D57E671-668E-4CEE-83FC-829A5CA48F4D</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>C06A0E5A-B02B-45E2-9857-5BA3E5D3AF6C</string>
				<key>modifiers</key>
				<integer>1048576</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>800E53AA-56EB-45FF-AB3E-4D858F3F25E2</string>
				<key>modifiers</key>
				<integer>262144</integer>
				<key>modifiersubtext</key>
				<string>add/remove from shelves</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>DBF18C0F-CE83-4FF8-B38D-2A4CB8ADF0F5</string>
				<key>modifiers</key>
				<integer>524288</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>2975E457-E19F-4D7F-96DD-E8B896E95FC7</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>520C247A-2935-47DE-A5EE-2E0B4D291CEA</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>4D57E671-668E-4CEE-83FC-829A5CA48F4D</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>5C3DF2CF-3D3F-4101-B320-EB3E5907A884</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>6F593E91-6611-4B0C-80C3-56F98C00F054</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>5D97BD58-E867-4226-8DB8-AE30864E893A</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>5C3DF2CF-3D3F-4101-B320-EB3E5907A884</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>73710C1E-15F2-445B-BD43-D6CB18A32A47</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>6D4144AB-B37B-49E4-8E90-D1947B4CC776</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>8987EAE5-1B2E-48F1-99C5-BA00DF8A661D</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>33576834-74A3-4898-A328-D7FAFFCACA63</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>800E53AA-56EB-45FF-AB3E-4D858F3F25E2</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>C0B077DF-E4E2-469F-AC68-406CBF63D0FE</string>
				<key>modifiers</key>
				<integer>262144</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>6D4144AB-B37B-49E4-8E90-D1947B4CC776</string>
				<key>modifiers</key>
				<integer>1572864</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>73710C1E-15F2-445B-BD43-D6CB18A32A47</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>AED0B5C7-CD42-476A-B11F-F2EA4D83218E</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>B9CB737D-2FF3-420C-97A9-839690FB304A</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>B0CF518D-796F-4F86-A0C6-F5C06DC14BAC</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>F80A0525-1F60-4141-82F3-BBD533A6EBF4</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>8987EAE5-1B2E-48F1-99C5-BA00DF8A661D</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>003F4001-E0D8-40F3-AF9E-0F0680F14ABA</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>C06A0E5A-B02B-45E2-9857-5BA3E5D3AF6C</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>9A17ED72-CF3C-4151-8BF2-C9DDFC3897BC</string>
				<key>modifiers</key>
				<integer>1572864</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>9830FB7A-499A-476A-94FD-7CE228654BC9</string>
				<key>modifiers</key>
				<integer>1048576</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>C8E58473-BD36-48EA-9E92-488A48455EF2</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>C8E58473-BD36-48EA-9E92-488A48455EF2</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>9A17ED72-CF3C-4151-8BF2-C9DDFC3897BC</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>8987EAE5-1B2E-48F1-99C5-BA00DF8A661D</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>5D97BD58-E867-4226-8DB8-AE30864E893A</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>DBF18C0F-CE83-4FF8-B38D-2A4CB8ADF0F5</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>F80A0525-1F60-4141-82F3-BBD533A6EBF4</string>
				<key>modifiers</key>
				<integer>1572864</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>B0CF518D-796F-4F86-A0C6-F5C06DC14BAC</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>DD05289F-5D23-4126-87FF-19DB5CE04163</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>0A528F59-F124-438B-A207-8AB044C5A6B6</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>8987EAE5-1B2E-48F1-99C5-BA00DF8A661D</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>257D3667-EA44-4518-A31C-BA0BF0DF6F58</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>93875ACA-7B0E-4C35-8A8A-2EABD00E7551</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>96EE9C19-1D0D-429A-83A2-C382280D2778</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>381B7BA5-9D08-4317-B435-01A72D4CD360</string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>DD59C03A-038C-4B9A-90D3-7C39A103D7FD</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>AED0B5C7-CD42-476A-B11F-F2EA4D83218E</string>
				<key>modifiers</key>
				<integer>1310720</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>DD05289F-5D23-4126-87FF-19DB5CE04163</string>
				<key>modifiers</key>
				<integer>1572864</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>C06A0E5A-B02B-45E2-9857-5BA3E5D3AF6C</string>
				<key>modifiers</key>
				<integer>1048576</integer>
				<key>modifiersubtext</key>
				<string>testing statusID</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>FB1FF7BF-BC2C-4FB4-820F-AFDF82FB714C</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>800E53AA-56EB-45FF-AB3E-4D858F3F25E2</string>
				<key>modifiers</key>
				<integer>262144</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>DBF18C0F-CE83-4FF8-B38D-2A4CB8ADF0F5</string>
				<key>modifiers</key>
				<integer>524288</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>FB1FF7BF-BC2C-4FB4-820F-AFDF82FB714C</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>8E54DBEE-683D-440E-BC1F-DE5ED3723510</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>8987EAE5-1B2E-48F1-99C5-BA00DF8A661D</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>F64A158F-C95A-426F-8ADE-FBDF4FAA948E</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>FE4D7797-2D64-40A7-ABB4-261905E43453</key>
		<array/>
	</dict>
	<key>createdby</key>
	<string>giovanni</string>
	<key>description</key>
	<string>Interact with Hardcover, a modern book tracking and community of book lovers.</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Hardcover</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>externaltriggerid</key>
				<string>postNotification</string>
				<key>passinputasargument</key>
				<true/>
				<key>passvariables</key>
				<true/>
				<key>workflowbundleid</key>
				<string>self</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.callexternaltrigger</string>
			<key>uid</key>
			<string>B9CB737D-2FF3-420C-97A9-839690FB304A</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>./alfred-hardcover "$1"</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>11</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>AED0B5C7-CD42-476A-B11F-F2EA4D83218E</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>externaltriggerid</key>
				<string>listStatus</string>
				<key>passinputasargument</key>
				<true/>
				<key>passvariables</key>
				<true/>
				<key>workflowbundleid</key>
				<string>self</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.callexternaltrigger</string>
			<key>uid</key>
			<string>0A528F59-F124-438B-A207-8AB044C5A6B6</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>conditions</key>
				<array>
					<dict>
						<key>inputstring</key>
						<string>{var:breadCrumb}</string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>0</integer>
						<key>matchstring</key>
						<string>listStatusBooks</string>
						<key>outputlabel</key>
						<string>ListStatusBooks</string>
						<key>uid</key>
						<string>8987EAE5-1B2E-48F1-99C5-BA00DF8A661D</string>
					</dict>
					<dict>
						<key>inputstring</key>
						<string>{var:breadCrumb}</string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>0</integer>
						<key>matchstring</key>
						<string>listShelfBooks</string>
						<key>outputlabel</key>
						<string>ListShelfBooks</string>
						<key>uid</key>
						<string>93875ACA-7B0E-4C35-8A8A-2EABD00E7551</string>
					</dict>
					<dict>
						<key>inputstring</key>
						<string>{var:breadCrumb}</string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>0</integer>
						<key>matchstring</key>
						<string>listRatings</string>
						<key>outputlabel</key>
						<string>ListRatings</string>
						<key>uid</key>
						<string>381B7BA5-9D08-4317-B435-01A72D4CD360</string>
					</dict>
				</array>
				<key>elselabel</key>
				<string>else</string>
				<key>hideelse</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.conditional</string>
			<key>uid</key>
			<string>DD05289F-5D23-4126-87FF-19DB5CE04163</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>externaltriggerid</key>
				<string>listShelves</string>
				<key>passinputasargument</key>
				<true/>
				<key>passvariables</key>
				<true/>
				<key>workflowbundleid</key>
				<string>self</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.callexternaltrigger</string>
			<key>uid</key>
			<string>257D3667-EA44-4518-A31C-BA0BF0DF6F58</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>externaltriggerid</key>
				<string>listRatings</string>
				<key>passinputasargument</key>
				<true/>
				<key>passvariables</key>
				<true/>
				<key>workflowbundleid</key>
				<string>self</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.callexternaltrigger</string>
			<key>uid</key>
			<string>96EE9C19-1D0D-429A-83A2-C382280D2778</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>externaltriggerid</key>
				<string>ListLibrary</string>
				<key>passinputasargument</key>
				<true/>
				<key>passvariables</key>
				<true/>
				<key>workflowbundleid</key>
				<string>self</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.callexternaltrigger</string>
			<key>uid</key>
			<string>9A17ED72-CF3C-4151-8BF2-C9DDFC3897BC</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>externaltriggerid</key>
				<string>openURL</string>
				<key>passinputasargument</key>
				<true/>
				<key>passvariables</key>
				<true/>
				<key>workflowbundleid</key>
				<string>self</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.callexternaltrigger</string>
			<key>uid</key>
			<string>9830FB7A-499A-476A-94FD-7CE228654BC9</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>./alfred-hardcover "-build" "$1"</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>11</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>6F593E91-6611-4B0C-80C3-56F98C00F054</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string></string>
				<key>title</key>
				<string></string>
			</dict>
			<key>inboundconfig</key>
			<dict>
				<key>externalid</key>
				<string>postNotification</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>5C3DF2CF-3D3F-4101-B320-EB3E5907A884</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>./alfred-hardcover "-changeStatus"</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>11</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>5D97BD58-E867-4226-8DB8-AE30864E893A</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>conditions</key>
				<array>
					<dict>
						<key>inputstring</key>
						<string>{var:breadCrumb}</string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>0</integer>
						<key>matchstring</key>
						<string>listStatusBooks</string>
						<key>outputlabel</key>
						<string>ListStatusBooks</string>
						<key>uid</key>
						<string>8987EAE5-1B2E-48F1-99C5-BA00DF8A661D</string>
					</dict>
				</array>
				<key>elselabel</key>
				<string>else</string>
				<key>hideelse</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.conditional</string>
			<key>uid</key>
			<string>C8E58473-BD36-48EA-9E92-488A48455EF2</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>!hc</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>⏳️building the database...</string>
				<key>script</key>
				<string>./alfred-hardcover "-library" "$1"</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string>Open your Hardcover library</string>
				<key>title</key>
				<string>Hardcover: My Library</string>
				<key>type</key>
				<integer>11</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>inboundconfig</key>
			<dict>
				<key>externalid</key>
				<string>ListLibrary</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>DD59C03A-038C-4B9A-90D3-7C39A103D7FD</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>0</integer>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>hotkey</key>
				<integer>12</integer>
				<key>hotmod</key>
				<integer>524288</integer>
				<key>hotstring</key>
				<string>Q</string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>0FC5D7DE-2FA5-42FB-8859-7BDDE5D1FD7A</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<true/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>!ht</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string></string>
				<key>script</key>
				<string>./alfred-hardcover "-byStatus" "$1"</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string>Your Hardcover library by read status</string>
				<key>title</key>
				<string>Hardcover: by Read Status</string>
				<key>type</key>
				<integer>11</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>inboundconfig</key>
			<dict>
				<key>externalid</key>
				<string>listStatus</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>C06A0E5A-B02B-45E2-9857-5BA3E5D3AF6C</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>externaltriggerid</key>
				<string>ListLibrary</string>
				<key>passinputasargument</key>
				<true/>
				<key>passvariables</key>
				<true/>
				<key>workflowbundleid</key>
				<string>self</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.callexternaltrigger</string>
			<key>uid</key>
			<string>8E54DBEE-683D-440E-BC1F-DE5ED3723510</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>conditions</key>
				<array>
					<dict>
						<key>inputstring</key>
						<string>{var:searchSource}</string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>0</integer>
						<key>matchstring</key>
						<string>statusSearch</string>
						<key>outputlabel</key>
						<string>recursive</string>
						<key>uid</key>
						<string>8987EAE5-1B2E-48F1-99C5-BA00DF8A661D</string>
					</dict>
				</array>
				<key>elselabel</key>
				<string>else</string>
				<key>hideelse</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.conditional</string>
			<key>uid</key>
			<string>FB1FF7BF-BC2C-4FB4-820F-AFDF82FB714C</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>skipqueryencode</key>
				<false/>
				<key>skipvarencode</key>
				<false/>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string></string>
			</dict>
			<key>inboundconfig</key>
			<dict>
				<key>externalid</key>
				<string>openURL</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>F64A158F-C95A-426F-8ADE-FBDF4FAA948E</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>externaltriggerid</key>
				<string>openURL</string>
				<key>passinputasargument</key>
				<true/>
				<key>passvariables</key>
				<true/>
				<key>workflowbundleid</key>
				<string>self</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.callexternaltrigger</string>
			<key>uid</key>
			<string>C0B077DF-E4E2-469F-AC68-406CBF63D0FE</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>externaltriggerid</key>
				<string>ListLibrary</string>
				<key>passinputasargument</key>
				<true/>
				<key>passvariables</key>
				<true/>
				<key>workflowbundleid</key>
				<string>self</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.callexternaltrigger</string>
			<key>uid</key>
			<string>6D4144AB-B37B-49E4-8E90-D1947B4CC776</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>0</integer>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>hotkey</key>
				<integer>0</integer>
				<key>hotmod</key>
				<integer>524288</integer>
				<key>hotstring</key>
				<string>A</string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>07DB2E5D-3B90-457C-95B6-B779787C215A</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<true/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>!hs</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string></string>
				<key>script</key>
				<string>./alfred-hardcover "-shelves" "$1"</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string>Your Hardcover library by shelves</string>
				<key>title</key>
				<string>Hardcover: My Shelves</string>
				<key>type</key>
				<integer>11</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>inboundconfig</key>
			<dict>
				<key>externalid</key>
				<string>listShelves</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>800E53AA-56EB-45FF-AB3E-4D858F3F25E2</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>externaltriggerid</key>
				<string>postNotification</string>
				<key>passinputasargument</key>
				<true/>
				<key>passvariables</key>
				<true/>
				<key>workflowbundleid</key>
				<string>self</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.callexternaltrigger</string>
			<key>uid</key>
			<string>59A5A739-6703-4ABA-BF68-A44CED709FCC</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>./alfred-hardcover "-toggleShelf" "$1"</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>11</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>33576834-74A3-4898-A328-D7FAFFCACA63</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>conditions</key>
				<array>
					<dict>
						<key>inputstring</key>
						<string>{var:breadCrumb}</string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>0</integer>
						<key>matchstring</key>
						<string>listShelfBooks</string>
						<key>outputlabel</key>
						<string>ListShelfBooks</string>
						<key>uid</key>
						<string>8987EAE5-1B2E-48F1-99C5-BA00DF8A661D</string>
					</dict>
				</array>
				<key>elselabel</key>
				<string>else</string>
				<key>hideelse</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.conditional</string>
			<key>uid</key>
			<string>73710C1E-15F2-445B-BD43-D6CB18A32A47</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>!hd</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<false/>
				<key>queuedelaymode</key>
				<integer>2</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string></string>
				<key>script</key>
				<string>
./alfred-hardcover "-search" "$1"
</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string>Search the Hardcover Database</string>
				<key>type</key>
				<integer>11</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>4D57E671-668E-4CEE-83FC-829A5CA48F4D</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>0</integer>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>hotkey</key>
				<integer>0</integer>
				<key>hotmod</key>
				<integer>0</integer>
				<key>hotstring</key>
				<string></string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>520C247A-2935-47DE-A5EE-2E0B4D291CEA</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>externaltriggerid</key>
				<string>ListLibrary</string>
				<key>passinputasargument</key>
				<true/>
				<key>passvariables</key>
				<true/>
				<key>workflowbundleid</key>
				<string>self</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.callexternaltrigger</string>
			<key>uid</key>
			<string>F80A0525-1F60-4141-82F3-BBD533A6EBF4</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<true/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>!hr</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string></string>
				<key>script</key>
				<string>./alfred-hardcover "-ratings" "$1"</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string>Your Hardcover library by rating</string>
				<key>title</key>
				<string>Hardcover: by Rating</string>
				<key>type</key>
				<integer>11</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>inboundconfig</key>
			<dict>
				<key>externalid</key>
				<string>listRatings</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>DBF18C0F-CE83-4FF8-B38D-2A4CB8ADF0F5</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>externaltriggerid</key>
				<string>openURL</string>
				<key>passinputasargument</key>
				<true/>
				<key>passvariables</key>
				<true/>
				<key>workflowbundleid</key>
				<string>self</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.callexternaltrigger</string>
			<key>uid</key>
			<string>2975E457-E19F-4D7F-96DD-E8B896E95FC7</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>externaltriggerid</key>
				<string>postNotification</string>
				<key>passinputasargument</key>
				<true/>
				<key>passvariables</key>
				<true/>
				<key>workflowbundleid</key>
				<string>self</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.callexternaltrigger</string>
			<key>uid</key>
			<string>3FCCB79E-B876-42C0-AA07-E2B1F0FD4AB3</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>./alfred-hardcover "-changeRating"</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>11</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>003F4001-E0D8-40F3-AF9E-0F0680F14ABA</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>::hardcover-refresh</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>⏳️...please wait while I rebuild the database...</string>
				<key>script</key>
				<string>./alfred-hardcover "-build"</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string>Hardcover: Database Refresh 👀</string>
				<key>type</key>
				<integer>11</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>FE4D7797-2D64-40A7-ABB4-261905E43453</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>conditions</key>
				<array>
					<dict>
						<key>inputstring</key>
						<string>{var:breadCrumb}</string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>0</integer>
						<key>matchstring</key>
						<string>listRatings</string>
						<key>outputlabel</key>
						<string>ListRatings</string>
						<key>uid</key>
						<string>8987EAE5-1B2E-48F1-99C5-BA00DF8A661D</string>
					</dict>
				</array>
				<key>elselabel</key>
				<string>else</string>
				<key>hideelse</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.conditional</string>
			<key>uid</key>
			<string>B0CF518D-796F-4F86-A0C6-F5C06DC14BAC</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string># alfred-hardcover 📘
An Alfred workflow to interact with [Hardcover](https://hardcover.app/), a modern book tracking and community of book lovers.  

![](alfred-hardcover.png)

# Motivation ✅️
Being able to quickly:
- add a book to my library
- check my library for the status, rating, and shelves of a book, and change them
- find a book, or shelf, and open it on Hardcover
- list my books by status, shelf, or rating.

# Setting up ⚙️
- get your API key [here](https://hardcover.app/account/api), and paste it into the `Hardcover API token` field in `Workflow Configuration`

# Options 
- set the number of results when querying the Hardcover database (slightly slower if many). Default: 19
- set the interval at which `alfred-hardcover` checks for changes on the main Hardcover site (default: 7). Database is automatically refreshed after any changes are made by `alfred-hardcover`.


# Usage
The fundamental unit of the Workflow is a book result. Once you get to a list of books you can perform one of these operations:
1. add or remove from shelves (`^ (ctrl)`)
2. change reading status (`⌘ (cmd)`)
3. open on Hardcover (`↩️ (enter)`)
4. assign or change rating (`⌥ (option)`)
5. delete from library (`⌘-^ (cmd-ctrl)`)
6. Quick Look (`⇧ shift`) will load the corresponding Hardcover page.  

How to get to a list of books? Five main ways:
1. by listing the books in your library (set hotkey or use a keyword (default: `!hc`))
2. by listing your books grouped by shelf (default keyword: `!hs`)
3. by listing your books grouped by reading status (default keyword: `!ht`)
4. by listing your books grouped by rating (default keyword: `!hr`)
5. by searching the Hardcover catalog (this search is similar to `⌘-k` on the Hardcover website. Set hotkey, or default keyword: `!hd`) 

In the library and database search you can use sort flags to sort your results:

- `--y`: by year (newest first)
- `--r`: by rating (highest first)
- `--t`: by title (alphabetical)

A couple of other things:
- In most visualizations, `⌘-⌥`(command-option) will move back to the previous visualization
- `::hardcover-refresh` will force database refresh 

That's it! If you notice a bug, or have ideas for new features, please feel free to get in touch either on [Github](https://github.com/giovannicoppola/alfred-hardcover), on the [Alfred](https://www.alfredforum.com) forum, or the Hardcover Discord.</string>
	<key>uidata</key>
	<dict>
		<key>003F4001-E0D8-40F3-AF9E-0F0680F14ABA</key>
		<dict>
			<key>colorindex</key>
			<integer>2</integer>
			<key>xpos</key>
			<real>1505</real>
			<key>ypos</key>
			<real>1025</real>
		</dict>
		<key>07DB2E5D-3B90-457C-95B6-B779787C215A</key>
		<dict>
			<key>xpos</key>
			<real>875</real>
			<key>ypos</key>
			<real>585</real>
		</dict>
		<key>0A528F59-F124-438B-A207-8AB044C5A6B6</key>
		<dict>
			<key>colorindex</key>
			<integer>3</integer>
			<key>xpos</key>
			<real>1010</real>
			<key>ypos</key>
			<real>75</real>
		</dict>
		<key>0FC5D7DE-2FA5-42FB-8859-7BDDE5D1FD7A</key>
		<dict>
			<key>xpos</key>
			<real>120</real>
			<key>ypos</key>
			<real>385</real>
		</dict>
		<key>257D3667-EA44-4518-A31C-BA0BF0DF6F58</key>
		<dict>
			<key>colorindex</key>
			<integer>8</integer>
			<key>xpos</key>
			<real>1010</real>
			<key>ypos</key>
			<real>110</real>
		</dict>
		<key>2975E457-E19F-4D7F-96DD-E8B896E95FC7</key>
		<dict>
			<key>colorindex</key>
			<integer>6</integer>
			<key>xpos</key>
			<real>425</real>
			<key>ypos</key>
			<real>970</real>
		</dict>
		<key>33576834-74A3-4898-A328-D7FAFFCACA63</key>
		<dict>
			<key>colorindex</key>
			<integer>8</integer>
			<key>xpos</key>
			<real>1580</real>
			<key>ypos</key>
			<real>715</real>
		</dict>
		<key>3FCCB79E-B876-42C0-AA07-E2B1F0FD4AB3</key>
		<dict>
			<key>colorindex</key>
			<integer>12</integer>
			<key>xpos</key>
			<real>1720</real>
			<key>ypos</key>
			<real>1025</real>
		</dict>
		<key>4D57E671-668E-4CEE-83FC-829A5CA48F4D</key>
		<dict>
			<key>colorindex</key>
			<integer>5</integer>
			<key>note</key>
			<string>Search Hardcover Database</string>
			<key>xpos</key>
			<real>315</real>
			<key>ypos</key>
			<real>735</real>
		</dict>
		<key>520C247A-2935-47DE-A5EE-2E0B4D291CEA</key>
		<dict>
			<key>xpos</key>
			<real>105</real>
			<key>ypos</key>
			<real>735</real>
		</dict>
		<key>59A5A739-6703-4ABA-BF68-A44CED709FCC</key>
		<dict>
			<key>colorindex</key>
			<integer>12</integer>
			<key>xpos</key>
			<real>1785</real>
			<key>ypos</key>
			<real>715</real>
		</dict>
		<key>5C3DF2CF-3D3F-4101-B320-EB3E5907A884</key>
		<dict>
			<key>colorindex</key>
			<integer>12</integer>
			<key>xpos</key>
			<real>1845</real>
			<key>ypos</key>
			<real>335</real>
		</dict>
		<key>5D97BD58-E867-4226-8DB8-AE30864E893A</key>
		<dict>
			<key>colorindex</key>
			<integer>3</integer>
			<key>xpos</key>
			<real>1580</real>
			<key>ypos</key>
			<real>335</real>
		</dict>
		<key>6D4144AB-B37B-49E4-8E90-D1947B4CC776</key>
		<dict>
			<key>colorindex</key>
			<integer>10</integer>
			<key>xpos</key>
			<real>1580</real>
			<key>ypos</key>
			<real>580</real>
		</dict>
		<key>6F593E91-6611-4B0C-80C3-56F98C00F054</key>
		<dict>
			<key>colorindex</key>
			<integer>1</integer>
			<key>note</key>
			<string>rebuild database</string>
			<key>xpos</key>
			<real>2105</real>
			<key>ypos</key>
			<real>335</real>
		</dict>
		<key>73710C1E-15F2-445B-BD43-D6CB18A32A47</key>
		<dict>
			<key>xpos</key>
			<real>1380</real>
			<key>ypos</key>
			<real>720</real>
		</dict>
		<key>800E53AA-56EB-45FF-AB3E-4D858F3F25E2</key>
		<dict>
			<key>colorindex</key>
			<integer>8</integer>
			<key>note</key>
			<string>List User's Shelves</string>
			<key>xpos</key>
			<real>1060</real>
			<key>ypos</key>
			<real>685</real>
		</dict>
		<key>8E54DBEE-683D-440E-BC1F-DE5ED3723510</key>
		<dict>
			<key>colorindex</key>
			<integer>10</integer>
			<key>xpos</key>
			<real>710</real>
			<key>ypos</key>
			<real>400</real>
		</dict>
		<key>96EE9C19-1D0D-429A-83A2-C382280D2778</key>
		<dict>
			<key>colorindex</key>
			<integer>2</integer>
			<key>xpos</key>
			<real>1010</real>
			<key>ypos</key>
			<real>145</real>
		</dict>
		<key>9830FB7A-499A-476A-94FD-7CE228654BC9</key>
		<dict>
			<key>colorindex</key>
			<integer>6</integer>
			<key>xpos</key>
			<real>1270</real>
			<key>ypos</key>
			<real>210</real>
		</dict>
		<key>9A17ED72-CF3C-4151-8BF2-C9DDFC3897BC</key>
		<dict>
			<key>colorindex</key>
			<integer>10</integer>
			<key>xpos</key>
			<real>1580</real>
			<key>ypos</key>
			<real>175</real>
		</dict>
		<key>AED0B5C7-CD42-476A-B11F-F2EA4D83218E</key>
		<dict>
			<key>colorindex</key>
			<integer>2</integer>
			<key>xpos</key>
			<real>395</real>
			<key>ypos</key>
			<real>45</real>
		</dict>
		<key>B0CF518D-796F-4F86-A0C6-F5C06DC14BAC</key>
		<dict>
			<key>xpos</key>
			<real>1305</real>
			<key>ypos</key>
			<real>1030</real>
		</dict>
		<key>B9CB737D-2FF3-420C-97A9-839690FB304A</key>
		<dict>
			<key>colorindex</key>
			<integer>12</integer>
			<key>xpos</key>
			<real>610</real>
			<key>ypos</key>
			<real>45</real>
		</dict>
		<key>C06A0E5A-B02B-45E2-9857-5BA3E5D3AF6C</key>
		<dict>
			<key>colorindex</key>
			<integer>3</integer>
			<key>note</key>
			<string>By Read Status</string>
			<key>xpos</key>
			<real>1060</real>
			<key>ypos</key>
			<real>390</real>
		</dict>
		<key>C0B077DF-E4E2-469F-AC68-406CBF63D0FE</key>
		<dict>
			<key>colorindex</key>
			<integer>6</integer>
			<key>xpos</key>
			<real>1270</real>
			<key>ypos</key>
			<real>565</real>
		</dict>
		<key>C8E58473-BD36-48EA-9E92-488A48455EF2</key>
		<dict>
			<key>xpos</key>
			<real>1375</real>
			<key>ypos</key>
			<real>385</real>
		</dict>
		<key>DBF18C0F-CE83-4FF8-B38D-2A4CB8ADF0F5</key>
		<dict>
			<key>colorindex</key>
			<integer>2</integer>
			<key>note</key>
			<string>By Rating</string>
			<key>xpos</key>
			<real>1055</real>
			<key>ypos</key>
			<real>905</real>
		</dict>
		<key>DD05289F-5D23-4126-87FF-19DB5CE04163</key>
		<dict>
			<key>xpos</key>
			<real>815</real>
			<key>ypos</key>
			<real>75</real>
		</dict>
		<key>DD59C03A-038C-4B9A-90D3-7C39A103D7FD</key>
		<dict>
			<key>colorindex</key>
			<integer>10</integer>
			<key>note</key>
			<string>Search User's Library</string>
			<key>xpos</key>
			<real>315</real>
			<key>ypos</key>
			<real>385</real>
		</dict>
		<key>F64A158F-C95A-426F-8ADE-FBDF4FAA948E</key>
		<dict>
			<key>colorindex</key>
			<integer>6</integer>
			<key>xpos</key>
			<real>440</real>
			<key>ypos</key>
			<real>555</real>
		</dict>
		<key>F80A0525-1F60-4141-82F3-BBD533A6EBF4</key>
		<dict>
			<key>colorindex</key>
			<integer>10</integer>
			<key>xpos</key>
			<real>1505</real>
			<key>ypos</key>
			<real>895</real>
		</dict>
		<key>FB1FF7BF-BC2C-4FB4-820F-AFDF82FB714C</key>
		<dict>
			<key>xpos</key>
			<real>520</real>
			<key>ypos</key>
			<real>445</real>
		</dict>
		<key>FE4D7797-2D64-40A7-ABB4-261905E43453</key>
		<dict>
			<key>colorindex</key>
			<integer>1</integer>
			<key>note</key>
			<string>database rebuild</string>
			<key>xpos</key>
			<real>2150</real>
			<key>ypos</key>
			<real>1030</real>
		</dict>
	</dict>
	<key>userconfigurationconfig</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string></string>
				<key>required</key>
				<true/>
				<key>trim</key>
				<true/>
				<key>verticalsize</key>
				<integer>6</integer>
			</dict>
			<key>description</key>
			<string></string>
			<key>label</key>
			<string>Hardcover API token</string>
			<key>type</key>
			<string>textarea</string>
			<key>variable</key>
			<string>HARDCOVER_API_TOKEN</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string>19</string>
				<key>placeholder</key>
				<string></string>
				<key>required</key>
				<true/>
				<key>trim</key>
				<true/>
			</dict>
			<key>description</key>
			<string>Number of books retrieved when searching the main Hardcover catalog. The larger, the slower</string>
			<key>label</key>
			<string>Result Length</string>
			<key>type</key>
			<string>textfield</string>
			<key>variable</key>
			<string>RESULT_LENGTH</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string>7</string>
				<key>placeholder</key>
				<string></string>
				<key>required</key>
				<true/>
				<key>trim</key>
				<true/>
			</dict>
			<key>description</key>
			<string>Frequency at which alfred-hardcover checks for changes on the Hardcover server.</string>
			<key>label</key>
			<string>Refresh rate (in days)</string>
			<key>type</key>
			<string>textfield</string>
			<key>variable</key>
			<string>CHECKRATE</string>
		</dict>
	</array>
	<key>variablesdontexport</key>
	<array/>
	<key>version</key>
	<string>0.1.1</string>
	<key>webaddress</key>
	<string>https://github.com/giovannicoppola/alfred-hardcover</string>
</dict>
</plist>
